<ion-content [fullscreen]="true">
  <div class="container">
    <div class="contenido">
      <div class="menu">
        <div class ="boton"[routerLink]="['/horario']" >
          <ion-icon name="calendar-number-outline"></ion-icon>
          <h3>Horario</h3>
        </div> 
        <div class="boton"[routerLink]="['Lista']">
          <ion-icon name="bookmarks-outline"></ion-icon>
          <h3>Lista</h3>
        </div> 
        <div class="boton"[routerLink]="['/qr']">
          <ion-icon name="qr-code-outline"></ion-icon>
          <h3>QR</h3>
        </div> 
        <div class="boton" [routerLink]="['/perfil']">
          <ion-icon name="person-circle"></ion-icon>
          <button></button>
          <h3>Perfil</h3>
        </div> 
      </div>
      <ion-content [fullscreen]="true">
        <div class="container">
          <div class="Horario">
            <div class="dia">
              <h2>Lunes</h2>
              <div class="clase">
                <ion-icon name="analytics-outline"></ion-icon>
                <h2>Arquitectura desde 15:11 a 16:40</h2>
                <p>Sala: LPC2</p>
                <p>Sección: 002</p>
              </div>
              <div class="clase">
                <ion-icon name="code-outline"></ion-icon>
                <h2>PAM desde 17:31 a 18:50</h2>
                <p>Sala: LPC2</p>
                <p>Sección: 002</p>
              </div>
            </div>
      
            <div class="dia">
              <h2>Martes</h2>
              <div class="clase">
                <ion-icon name="analytics-outline"></ion-icon>
                <h2>Arquitectura desde 15:11 a 17:20</h2>
                <p>Sala: LPC2</p>
                <p>Sección: 002</p>
              </div>
              <div class ="clase">
                <ion-icon name="code-outline"></ion-icon>
                <h2>PAM desde 17:31 a 18:50</h2>
                <p>Sala: LPC2</p>
                <p>Sección: 002</p>
              </div>
            </div>
      
            <div class="dia">
              <h2>Miércoles</h2>
              <div class="clase">
                <ion-icon name="bar-chart-outline"></ion-icon>
                <h2>Estadística desde 13:41 a 16:40</h2>
                <p>Sala: LPC2</p>
                <p>Sección: 002</p>
              </div>
              <div class="clase">
                <ion-icon name="people-outline"></ion-icon>
                <h2>Ética desde 17:31 a 18:50</h2>
                <p>Sala: 202</p>
                <p>Sección: 002</p>
              </div>
            </div>
      
            <div class="dia">
              <h2>Jueves</h2>
              <div class="clase">
                <ion-icon name="book-outline"></ion-icon>
                <h2>Inglés desde 14:31 a 15:50</h2>
                <p>Sala: 207</p>
                <p>Sección: 009</p>
              </div>
              <div>
                <ion-icon name="swap-vertical-outline"></ion-icon>
                <h2>Calidad desde 16:01 a 18:50</h2>
                <p>Sala: LPC2</p>
                <p>Sección: 002</p>
              </div>
            </div>
      
            <div class="dia">
              <h2>Viernes</h2>
              <div class="clase">
                <ion-icon name="book-outline"></ion-icon>
                <h2>Inglés desde 13:01 a 15:50</h2>
                <p>Sala: 304</p>
                <p>Sección: 009</p>
              </div>
           
            </div>
          </div>
        </div>
      </ion-content>
      
    </div>

  </div>
  </ion-content>
